<h1>Rooms</h1>

<a href="/rooms/new-room">New Room</a>

{{#each rooms}}

    <h3>Name: {{name}}</h3>

    <h3>Description: {{description}}</h3>

    <h3>Image: {{imgUrl}}</h3>

{{/each}}

<a href="/">
  Back to index
</a>