<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<hr />
<a href ="/auth/signup">New User</a>
<hr />

<hr />
<a href ="/auth/login">Login</a>
<hr />

<hr />
<a href ="/rooms/new-room">New Room</a>
<hr />

<a href="/auth/logout" ><button>Logout</button></a>
